@charset "utf-8";
/* CSS Document */


/* General Styles*/

body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #212121;
	color: white;
	font-family: 'zona';

}
@font-face {
	font-family: 'zona';
	src: url(../fonts/intelligent_design_-_zona_black_black-webfont.otf) format('opentype');
	font-weight: normal;
	font-style: normal;
}
#wrapper {
	position: relative;
}
.section {
	height: 100vh;
	width: 100%;
	position: relative;
}
#nav {
	list-style: none;
	position: fixed;
	right: 0;
	top: 0;
	margin-right: 5%;
	margin-top: 7vh;
    z-index: 100000;
}
#nav li {
	display: list-item;
	text-align: right;
}
#small_logo {
	position: fixed;
	left: 0;
	top: 0;
	margin-left: 5%;
	margin-top: 7vh;
	width: 6%;
}
.content_section {
	width: 60%;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

a {
    text-decoration: none;
    color: #e5553d;
    transition:.5s;
    -webkit-transition:.5s;
}

a:hover {
    color: #FFFFFF;
}

h1 {
	display: inline-block;
	margin-right: 10pt!important;
}

/* /General Styles */

/* Home Section */
#outerLogoBorder {
    width: 38vw;
    height: 38vw;
    border: 18px solid white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.home h1 {
    padding: 0;
    text-align: left;
    margin: 0;
    font-size: 4vw;
    font-family: "zona", fantasy;
}
#logoText {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0 0 4vw 4vw;
}
.animateFadeIn {
    animation: slideIn 1s;
    transition-timing-function: cubic-bezier(0.165,0.84,0.44,1);
}
.animateFadeOut {
    animation: slideOut 1s;
    transition-timing-function: cubic-bezier(0.165,0.84,0.44,1);
}
#animatedLogoTextContainer {
    overflow: hidden;
}
@keyframes slideIn {
    from {
        /*TODO ask nam about fading in/out*/
        opacity: 1;
        transform: translateY(110%);
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slideOut {
    from {
        /*TODO ask nam about fading in/out*/
        opacity: 1;
        transform: translateY(0);
    }
    to {
        transform: translateY(110%);
        opacity: 1;
    }
}

/* About Section */

.about h1 {
	color: #e5553d;
}
.contact {
	display: inline-block;
	width: auto;
}

.wow {
  visibility: visible!important;
}

/* /About Section */

/* Offerings */

#info_wrap {
	width: 70%;
	position: relative;
	display: inline-block;
	height: auto;
	left: 15%; top: 50%;
	transform: translate(-15%,-50%);
}
.info_container {
	width: 33%;
	position: relative;
	display: inline-block;
	font-size: 0;
	background-color: antiquewhite;
}
.info_text {
	width: 80%;
	background-color: cadetblue;
}

/* /Offerings */

/* Screen Resizing Section*/

/* Desktop */

@media only screen and (min-width: 550px) {
	.content_section h1 {
		font-size: 10pt;
	}
	.content_section h2 {
		font-size: 10pt;
		margin: 0 0 20pt 15pt;
	}
	#nav li {
		font-size: 10pt;
	}
}

@media only screen and (min-width: 750px) {
	.content_section h1 {
		font-size: 14pt;
	}
	.content_section h2 {
		font-size: 14pt;
	}
	#nav li {
		font-size: 10pt;
	}
}

@media only screen and (min-width: 1000px) {
	.content_section h1 {
		font-size: 18pt;
		margin: 0 0 10pt 0;
	}
	.content_section h2 {
		font-size: 18pt;
		margin: 0 0 50pt 30pt;
	}
	#nav li {
		font-size: 12pt;
	}
}

@media only screen and (min-width: 1200px) {
	.content_section h1 {
		font-size: 20pt;
	}
	.content_section h2 {
		font-size: 20pt;
	}
}

@media only screen and (min-width: 1300px) {
	.content_section h1 {
		font-size: 22pt;
	}
	.content_section h2 {
		font-size: 22pt;
	}
}

@media only screen and (min-width: 1600px) {
	.content_section h1 {
		font-size: 24pt;
	}
	.content_section h2 {
		font-size: 24pt;
	}
}

@media only screen and (min-width: 1900px) {
	.content_section h1 {
		font-size: 24pt;
	}
	.content_section h2 {
		font-size: 24pt;
	}
}

/* /Desktop */


/* Mobile */

@media only screen and (max-aspect-ratio: 5/7) {
	#nav li {
		display: inline-block;
		margin-right: 6pt;
	}
	#small_logo {
		width: 10%;
	}
	.content_section {
		width: 80%;
	}
}

@media only screen and (min-width: 320px) and (max-aspect-ratio: 5/7) {
	#nav li {
		font-size: 7pt;
	}
	.content_section h1 {
		font-size: 10pt;
		margin: 0 0 10pt 0;
	}
	.content_section h2 {
		font-size: 10pt;
		margin: 0 0 30pt 10pt;
	}
}

@media only screen and (min-width: 375px) and (max-aspect-ratio: 5/7) {
	.content_section h1 {
		font-size: 12pt;
	}
	.content_section h2 {
		font-size: 12pt;
	}
}

/* /Mobile */


/* /Screen Resizing Section*/